# Configuración del servidor
PORT=3000

# Configuración de Base de Datos
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASS=password
DATABASE_NAME=vives_db

# Configuración para Docker (Variables de inicialización de MariaDB)
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=vives_db
MYSQL_USER=user_vives
MYSQL_PASSWORD=password_vives

# Seguridad JWT
JWT_SECRET=super_secret_key_change_me

# Origen de CORS del Frontend
CORS_ORIGIN=http://localhost:5173

